@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}
body {
  font-family: "Rubik", sans-serif;
}

header {
  position: relative;
}
.search-area {
  background: url(./img/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 37vh;
  display: flex;
  justify-content: center;
}
.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbox {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 10px;
  width: 42rem;
}
.button {
  background: hsl(0, 0%, 17%);
  color: white;
  border: none;
  text-decoration: none;
  font-size: 16px;
  width: 4.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover{
  cursor: pointer;
}
input {
  padding-left: 2rem;
  border: none;
  font-size: 1.5rem;
  height: 4.5rem;
  width: 82%;
  /* width: 455px; */
}


input:focus {
  outline: none;
}
.text-h {
  font-size: 2.3rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

div.mapview {
  height: 63vh;
  background-color: #d3dfbc;
  z-index: 0;
}

.card-area {
  width: 70%;
  /* height: 20vh; */
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -12.5vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}


.card-item{
  flex-grow: 1;
  flex-basis: 0;
}

.card-title{
  font-size: 1.1rem;
  font-weight: 500;
  color: hsl(0, 0%, 59%);
  padding: 3rem 1.5rem 0rem 2.5rem;
}
.card-value{
  color: hsl(0, 0%, 17%);
  font-size: 2.2rem;
  font-weight: 500;
  padding: 1rem 1.5rem 3rem 2.5rem;
}
.card-border-wrapper{
  display: flex;
  justify-content: space-between;
}
.card-right-border{
  border-right: 1px solid hsl(0deg 0% 59% / 55%);
  height: 5.7rem;
}

@media only screen and (max-width: 900px) {
  .search-area{
    height: 32vh;
  }
  div.mapview {
    height: 88vh;
  }
  .searchbox {
    width: 90vw;
  }
  .card-area{
    width: 90vw;
    margin-top: -9.1vh;
    flex-direction: column;
    align-items: center;
  }
  .card-right-border{
    display: none;
  }

  .card-value{
    font-size: 1.8rem;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
  }
  .card-value:last-child{
    padding-bottom: 1.8rem;
  }
  .card-title{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    /* padding-bottom: 0.3rem;
    padding-top: 1.8rem; */
    padding: 1.8rem 0rem 0.3rem 0rem;
  }
}









/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
